<div class="w-100 d-flex">
    <h3 class="text-primary">CATEGORIES </h3>
    <h3 class="text-secondary"> / Add</h3>
    <span class="spacer"></span>
   </div>
  
  <mat-card>
    <mat-card-actions>
        <a 
  routerLink="../list"
  mat-button >
        <mat-icon>arrow_back</mat-icon> <span class="ms-2">Back To List Category</span>
  </a>

    </mat-card-actions>

    <mat-card-content class="pe-4">
        <form>
            <fieldset class="w-100 rounded border border-primary my-3">
                <legend class="text-primary">CATEGORY</legend>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>NAME</mat-label>
                    <input matInput>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>DECRIPTION</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </fieldset>

            <button class="bg-success text-white" type="submit" mat-raised-button>
                CREATE CATEGORY
            </button>
        </form>


        
      </mat-card-content>

   
  </mat-card>
