<mat-sidenav-container [hasBackdrop]="false" fullscreen>
    
    <mat-sidenav 
    #sidenav 
    mode="side"
    class="bg-dark"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen" 
    opened>
        
        <mat-toolbar class="bg-dark text-white">
            <span>Menu</span>
            <span class="spacer"></span>
            
        </mat-toolbar>

        <mat-nav-list >
            <a routerLink="./listado"
            class="text-white"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>pie_chart</mat-icon>

                <span style="margin: 15px 35px;">DASHBOARD</span>
            </a>
            
            <mat-expansion-panel  dense class="bg-dark text-white">
                <mat-expansion-panel-header>
                    <mat-icon mat-list-icon style="margin-top: 12px;">build</mat-icon> 
                    <span style="margin: 15px 35px;">MAINTENANCE</span>
                </mat-expansion-panel-header>
                <mat-nav-list dense style="padding-left: 16%;">
                    <a mat-list-item class="text-white" routerLink="maintenance/categories"><mat-icon>label</mat-icon><span style="margin-left: 15px;">CATEGORIES</span> </a>
                    <a mat-list-item class="text-white" routerLink="maintenance/sub-categories"><mat-icon>label</mat-icon><span style="margin-left: 15px;">SUB CATEGORIES</span></a>
                    <a mat-list-item class="text-white" routerLink="maintenance/products"><mat-icon>label</mat-icon><span style="margin-left: 15px;">PRODUCTS</span></a>
                    <a mat-list-item class="text-white" routerLink="maintenance/customers"><mat-icon>label</mat-icon><span style="margin-left: 15px;">CUSTOMERS</span></a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel  dense>
                <mat-expansion-panel-header>
                    <mat-icon mat-list-icon style="margin-top: 12px;">settings_applications</mat-icon> 
                    <span style="margin: 15px 35px;">OPERATION</span>
                </mat-expansion-panel-header>
                <mat-nav-list dense style="padding-left: 16%;">
                    <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
                    <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel  dense>
                <mat-expansion-panel-header>
                    <mat-icon mat-list-icon style="margin-top: 12px;">filter_b_and_w</mat-icon> 
                    <span style="margin: 15px 35px;">REPORTS</span>
                </mat-expansion-panel-header>
                <mat-nav-list dense style="padding-left: 16%;">
                    <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
                    <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel  dense>
                <mat-expansion-panel-header>
                    <mat-icon mat-list-icon style="margin-top: 12px;">security</mat-icon> 
                    <span style="margin: 15px 35px;">SECURITY</span>
                </mat-expansion-panel-header>
                <mat-nav-list dense style="padding-left: 16%;">
                    <a mat-list-item routerLink="#"><mat-icon>attach_money</mat-icon>Billing</a>
                    <a mat-list-item routerLink="#"><mat-icon>notification_important</mat-icon>Notification</a>
                </mat-nav-list>
            </mat-expansion-panel>

            
        </mat-nav-list>
        
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="onToolBarMenuToggle();sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button>
            Logout
        </button>
    </mat-toolbar>


    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>
