html, body { height: 100%; background-color: #F5F6FB ;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #F5F6FB ; }


.spacer {
    flex: 1 1 auto;
}
.mat-drawer-container{
background-color: #F5F6FB;
}
.mat-drawer {
    background-color: #F7F7F7;
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgba(255,255,255,.8);
}